@import './common';
// @import './example';
@import './base/container';
@import './utils/visually-hidden';
@import './base/reset';
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
@import './components/modal';
