<section class="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__tittle">how it’s made?</h2>
    <div class="about__tabl">
      <div class="about__img">
        <img
          class="about__picture"
          srcset="
            ./images/about/unsplash1_S-@1x-278.png 278w,
            ./images/about/unsplash1_S-@2x-556.png 556w,
            ./images/about/unsplash1_M-@1x-335.png 335w,
            ./images/about/unsplash1_M-@2x-670.png 670w,
            ./images/about/unsplash1_L-@1x-490.png 490w,
            ./images/about/unsplash1_L-@2x-980.png 980w
          "
          src="./images/about/unsplash1_S-@1x-278.png"
          sizes="(min-width 1200px) 278px, (min-width 768px) 335px, (min-width 480px) 490px, 100vw"
          alt="корова"
        />
        <div class="about__bgn"></div>
      </div>

      <div class="about__list">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text-second">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text-tabl">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button data-modal-open type="button" class="about__btn">
          Read more
          
          <svg class="about__icon" width="12" height="12">
            <use href="/src/images/sprite.svg#btn-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
