<footer class="footer">
  <div class="conteiner footer__main">
    <div class="footer__title">
        <p class="footer__title-text">homemade ice cream made</p>
          <p class="footer__ingredient">with passion</p>
    </div>
    <div class="footer__footer-list">
      <div class="footer__socials">
        <ul class="footer__socials-list">
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://github.com"
              target="_blank"
              rel="noopener norefferer"
              aria-label="GitHub"
              ><svg class="footer__socials-icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#github1"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://telegram.com"
              target="_blank"
              rel="noopener norefferer"
              aria-label="Telegram"
              ><svg class="footer__socials-icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#telegram1"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener norefferer"
              aria-label="Facebook"
              ><svg class="footer__socials-icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#facebook1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">
        <p class="footer__contact-text">
          Feel free to contact
          <a class="footer__contact-tel" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer__text">
    <p class="footer__copy">&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
