<section class="products">
  <div class="conteiner">
    <p class="products__caption">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__icon">
          <picture>
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/producr-icon/icon-xl-1-@1x.jpg 1x,
                ./images/producr-icon/icon-xl-1-@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px )"
              srcset="
                ./images/producr-icon/icon-ml-1-@1x.jpg 1x,
                ./images/producr-icon/icon-ml-1-@2x.jpg 2x
              "
            />
            <img
              class="products___img"
              src="./images/producr-icon/icon-ml-1-@1x.jpg"
              alt="ice cream"
            />
          </picture>
        </div>
        <div class="svg1"></div>
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>

        <button class="products__btn" type="button"></button>
      </li>
      <li class="products__item">
        <div class="products__icon">
          <picture>
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/producr-icon/icon-xl-2-@1x.jpg 1x,
                ./images/producr-icon/icon-xl-2-@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px )"
              srcset="
                ./images/producr-icon/icon-ml-2-@1x.jpg 1x,
                ./images/producr-icon/icon-ml-2-@2x.jpg 2x
              "
            />
            <img
              class="products___img"
              src="./images/producr-icon/icon-ml-2-@1x.jpg"
              alt="ice coffee"
            />
          </picture>
        </div>
        <div class="svg2"></div>
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="products__btn" type="button"></button>
      </li>
      <li class="products__item">
        <div class="products__icon">
          <picture>
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/producr-icon/icon-xl-3-@1x.jpg 1x,
                ./images/producr-icon/icon-xl-3-@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px )"
              srcset="
                ./images/producr-icon/icon-ml-3-@1x.jpg 1x,
                ./images/producr-icon/icon-ml-3-@2x.jpg 2x
              "
            />
            <img
              class="products___img"
              src="./images/producr-icon/icon-ml-3-@1x.jpg"
              alt="milkshakes"
            />
          </picture>
        </div>
        <div class="svg3"></div>
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>

        <button class="products__btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
