<section class="products customer__section">
  <div class="container">
    <p class="products__caption zoomInRight">100% natural</p>
    <h2 class="products__title zoomInLeft">Products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          class="products__btn js-open-modal"
          data-modal="modal_ingredients"
          type="button"
        >
          <svg class="products__svg" width="40" height="15">
            <use href="./images/sprite.svg#icon-Frame-60"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          class="products__btn js-open-modal"
          data-modal="modal_ingredients"
          type="button"
        >
          <svg class="products__svg" width="40" height="15">
            <use href="./images/sprite.svg#icon-Frame-60"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <div class="products__subtitle-txt">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and othтзьer sweets of your choice
          </p>
        </div>
        <button
          class="products__btn js-open-modal"
          data-modal="modal_ingredients"
          type="button"
        >
          <svg class="products__svg" width="40" height="15">
            <use href="./images/sprite.svg#icon-Frame-60"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
