.about {
  background: linear-gradient(
      0deg,
      var(--background-green),
      var(--background-green)
    ),
    #84a178;
  padding-top: 60px;

  &__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;

    color: #fcfcfc;

    @media screen and (min-width: 768px) {
      font-weight: 800;
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  &__tittle {
    // width: 210px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;
    // margin-left: auto;
    // margin-right: auto;
    font-family: Seymour One, sans-serif;
    text-transform: uppercase;
    color: #fcfcfc;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 1.26;
      margin-bottom: 0;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.25;
    }

    @media screen and (max-width: 767px) {
      width: 210px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__list {
    display: block;
    text-align: center;
    justify-content: center;

    margin: auto;
    width: 220px;

    @media screen and (min-width: 768px) {
      width: 334px;
      // margin: 0;
      // margin-right: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: 463px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    margin-top: 40px;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    text-align: center;
    justify-content: center;

    color: #fcfcfc;

    @media screen and (min-width: 768px) {
      text-align: left;
      margin-top: 0px;
      line-height: 1.75;
      margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
      font-size: 16px;
      line-height: 1.75;
    }
  }

  &__text-second {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.58;
    margin-bottom: 20px;
    margin-top: 0;

    text-align: center;

    color: #fcfcfc;

    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 8px;
      line-height: 1.75;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.9;
    }
  }

  &__text-tabl {
    @media screen and (max-width: 766px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      text-align: left;
      margin-top: 0;
      margin-bottom: 48px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.9;

      color: #fcfcfc;
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.9;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 164px;
    height: 42px;
    text-align: center;
    background: #f8d24e;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    cursor: pointer;
    padding-left: 34px;
    margin: auto;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      position: absolute;
      transform: translate(-34px, 15px);
      top: 0;
      right: 0;

      width: 12px;
      height: 12px;

      background-image: url(../images/hero_header/svg_icon/arrow-blac.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    &:hover {
      background: #0a8817;
    }
    &:focus {
      color: #fcfcfc;
      background: #0a8817;
      &::after {
        background-image: url(../images/hero_header/svg_icon/arrow-wt.svg);
      }
    }

    // &:hover {
    //   background: #0a8817;
    // }

    // &:focus {
    //   color: #fcfcfc;
    //   background: #0a8817;
    // }

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__img {
    position: relative;
    justify-content: flex-start;
    // justify-content: center;
    display: flex;
    margin: 0;
  }

  &__bgn {
    position: absolute;
    bottom: 22px;
    padding: 0;
    border-radius: 140.182px;
    background-color: #f8d24e;
    width: 278px;
    height: 278px;
    display: block;
    justify-content: left;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

    @media screen and (min-width: 768px) {
      // margin: 72px 32px 0 15px;
      width: 100%;
      height: 100%;
      border-radius: 165.879px;
      bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
      width: 100%;
      height: 100%;
      border-radius: 1852.2px;
      bottom: 39px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__picture {
    border-radius: 140.182px;
    border-color: transparent;
    z-index: 1;

    @media screen and (min-width: 768px) {
      border-radius: 1228.96px;
      width: 335px;
      height: 335px;
    }
    @media screen and (min-width: 1200px) {
      width: 490px;
      height: 490px;
      border-radius: 1852.2px;
    }
  }
}

.about__tabl {
  display: block;
  margin-top: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 98px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    justify-content: space-between;
    // justify-content: center;
    margin-top: 121px;
  }
}

.about__icon {
  margin-left: 5px;
}

.about__icon:focus {
  fill: var(--white);
}

:root {
  --background-green: #84a178;
  --white: #fcfcfc;
  --yellow-btn: #f8d24e;
  --bleck-main: #131313;
  --second-bleck: #ababab;
}
