.contacts {
    position: relative;
    height: 1396px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(132, 161, 120, 1), rgba(132, 161, 120, 1));

    @media screen and (min-width: 768px) {
        height: 336px;
    }

    @media screen and (min-width: 1200px) {
        height: 565px;
    }

     &__container {
        position: absolute;
        top:-345px;

        @media screen and (min-width: 768px) {
        top: -304px;
        }

         @media screen and (min-width: 1200px) {
         top: -96px;
         }
        }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 16px;
            margin-bottom: 60px;
        }

        @media screen and (min-width: 1200px) {
            gap: 32px;
            margin-bottom: 64px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        padding: 40px 32px;
        line-height: 1.86;
        background: #FCFCFC;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 16px * (3 - 1)) / 3);
            flex-wrap: wrap;
            max-width: 224px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 32px * (3 - 1)) / 3);
            flex-wrap: wrap;
            max-width: 368px;
        }
    }

    &__title {
        margin-right: auto;
        margin-bottom: 20px;
        padding: 0 22px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        background: #F8D24E;
        border-radius: 4px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            margin-bottom: 32px;
            padding: 0 14px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;
        }

        &--separator {
            margin-bottom: 24px;
            background-color: #E1E1E1;
            width: 100%;
            height: 1px;

            @media screen and (min-width: 768px) {
                margin-bottom: 32px;
            }
        }
    }

    &__tel,
    &__mail {
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.83;
            font-weight: 500;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        font-weight: 500;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;
        }

        &--indent {
            margin-bottom: 24px;

            @media screen and (min-width: 768px) {
                margin-bottom: 32px;
            }

        }

        &-light {
            color: #ABABAB;

            &--indent {
                margin-bottom: 8px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    &__addr-link {
        display: inline-block;
        margin-bottom: 24px;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #D6936D;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            margin-bottom: 26px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;
            margin-bottom: 32px;
        }

        &--border {
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            border-bottom: 1px solid transparent;

            &:hover,
            &:focus {
                border-color: #D6936D;
            }
        }
    }
}

.btn {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;

    }

    &__first {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 196px;
        height: 42px;
        font-size: 14px;
        line-height: calc(18 / 14);
        font-weight: 600;
        background-color: #F8D24E;
        border-radius: 10px;
        border: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border: transparent;
            background-color: #0A8817;
        }

        &:focus {
            border: transparent;
            color: #FCFCFC;
            background-color: #0A8817;
        }

        &--light {
            background: transparent;
            border: 1px solid #F8D24E;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                background: transparent;
                border: 1px solid #0A8817;
            }

            &:focus {
                background: transparent;
                color: #FCFCFC;
                border: 1px solid #0A8817;
            }
        }
    }

    &__icon {
        margin-left: 15px;
    }
}