.footer__main {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e1e1e1;
}

.footer {
  background-color: #84a178;
}

.footer__title-text {
  width: 504px;
  margin-bottom: 14px;
  color: #fcfcfc;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Montserrat';
  line-height: calc(37 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
    line-height: calc(22 / 18);
    width: 232px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: calc(32 / 26);
    width: 352px;
    margin-bottom: 9px;
  }
}

.footer__ingredient {
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  font-family: 'Montserrat';
  line-height: calc(71 / 58);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fcfcfc;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 34px;
    line-height: calc(41 / 34);
    margin-bottom: 42px;
    width: 200px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: calc(59 / 48);
    width: 340px;
  }
}

.footer__socials {
  padding-top: 12px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 0;
  }
}

.footer__socials-icon {
  fill: #84a178;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.footer__socials-icon:hover,
.footer__socials-icon:focus {
  fill: #fcfcfc;
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 40px;
  list-style: none;
  align-items: baseline;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 320px) {
    margin-bottom: 38px;
  }
}

.footer__footer-list {
  margin-left: auto;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 68px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.footer__contact {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: right;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.footer__contact-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.02em;

  color: #131313;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: calc(26 / 12);
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}

.footer__contact-tel {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.02em;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: calc(26 / 12);
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}

.footer__copy {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    padding-top: 16px;
    padding-bottom: 62px;
    width: 150px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
    padding-top: 14px;
    padding-bottom: 13px;
  }
}
