.products {
//   max-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
    // max-width: 769px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
    // max-width: 1200px;
  }

  
}
.products__caption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.products__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;

  margin-top: 12px;
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  --items: 1;
  --indent: 164px;
  gap: var(--indent);
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-direction: row;

    --indent: 16px;
  }
  @media screen and (min-width: 1200px) {
    --items: 3;
    --indent: 32px;
    flex-wrap: nowrap;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 24px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 224px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    padding-bottom: 60px;
  }
}
.products__item:nth-child(1) {
  background-color: #aec6a5;
}

.products__item:nth-child(2) {
  background-color: #efd478;
}
.products__item:nth-child(3) {
  background-color: #d6936d;
}
.products__item:nth-child(1)::before {
  content: ' ';
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -55%);
  background-repeat: no-repeat;
  border-radius: 50%;

  background-position: center;

  background-image: url(/src/images/producr-icon/icon-sl-1-@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/producr-icon/icon-sl-1-@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 198px;
    background-image: url(/src/images/producr-icon/icon-ml-1-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-ml-1-@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
    background-image: url(/src/images/producr-icon/icon-xl-1-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-xl-1-@2x.jpg);
    }
  }
}

.products__item:nth-child(1)::after {
  content: ' ';
  position: absolute;
  z-index: 10;
  width: 201px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  border-radius: 50%;

  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    width: 201px;
    height: 198px;
  }

  @media screen and (min-width: 1200px) {
    width: 301px;
    height: 300px;
  }
}

.products__item:nth-child(2)::before {
  content: ' ';
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -55%);
  background-image: url(/src/images/producr-icon/icon-sl-2-@1x.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/producr-icon/icon-sl-2-@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 198px;
    background-image: url(/src/images/producr-icon/icon-ml-2-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-ml-2-@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
    background-image: url(/src/images/producr-icon/icon-xl-2-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-xl-2-@2x.jpg);
    }
  }
}

.products__item:nth-child(2)::after {
  content: ' ';
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 10;
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 198px;
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
  }
}
.products__item:nth-child(3)::before {
  content: ' ';
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  left: 50%;

  transform: translate(-50%, -55%);
  background-image: url(/src/images/producr-icon/icon-sl-3-@1x.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-color: #d6936d;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/producr-icon/icon-sl-3-@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 198px;
    background-image: url(/src/images/producr-icon/icon-ml-3-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-ml-3-@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
    background-image: url(/src/images/producr-icon/icon-xl-3-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/producr-icon/icon-xl-3-@2x.jpg);
    }
  }
}

.products__item:nth-child(3)::after {
  content: ' ';
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 10;
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 198px;
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 300px;
  }
}

.products__subtitle-txt {
  margin-left: auto;
  margin-right: auto;

  margin-top: 123px;
  margin-bottom: 90px;
  max-width: 200px;
  flex-grow: 1;

  @media screen and (min-width: 768px) {
    margin-top: 108px;
    margin-bottom: 60px;
    max-width: 172px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 166px;
    margin-bottom: 69px;
    max-width: 242px;
  }
}
.products__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}
.products__text {
  font-family: 'Montserrat';

  font-size: 14px;
  line-height: calc(22 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.products__btn {
  display: block;
  background-color: transparent;

  margin-left: auto;
  margin-right: auto;

  padding: 0px;

  width: 50px;
  height: 20px;

  border: transparent;
}
.products__svg {
  width: 40px;
  height: 16px;
  fill: #131313;
}
.products__svg:hover,
.products__svg:focus {
  width: 50px;
  height: 24px;
}
